.bg{
    background-image: url("https://cdn.dribbble.com/users/947023/screenshots/4444071/9_3.gif");
 height:600px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  }