
 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
  }
  .top-left {
    position: absolute;
    color:whitesmoke;
    top: 45px;
    left: 16px;
  }