
 
  .centered {
    position: absolute;
    top: 55%;
    left: 38%;
    transform: translate(-50%, -50%);
    color:black;
  }
  .top-left {
    position: absolute;
    color:black;
    top: 48px;
    left: 16px;
  }