body{
    background-image: url("https://cdn.dribbble.com/users/94638/screenshots/2176084/bldr_preloader-b_v01.03.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    color:black;
}
