.bg{
    background-image: url("https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ib_skpg8tD_o/v0/-999x-999.gif");
 height:600px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  }